Repository divy-work/nest.land, changes with the owners that .github/CODEOWNERS names for each.
All owners: @zorbyte,, @justablob, @justablob,, @tbaumer22, @ebebbington, @zorbyte

[ImgBot] Optimize images
  web/public/favicon.png
  web/public/social_preview.jpg
  web/src/assets/arweave.png
  web/src/assets/arweave.svg
  web/src/assets/box_vector.png
  web/src/assets/box_vector.svg
  web/src/assets/deno.png
  web/src/assets/deno.svg
  web/src/assets/footprints.svg
  web/src/assets/logo.png
  web/src/assets/nest_dark_square.png
  web/src/assets/nest_diagram.jpg
  web/src/assets/nest_diagram.png
  web/src/assets/nest_light.png
  web/src/assets/nest_light_mono.png
  web/src/assets/package_vector.svg
Owners: @tbaumer22

feat: setup config
  eggs/src/config.ts
  eggs/src/main.ts
Owners: @zorbyte,, @justablob,, @tbaumer22

feat: add api urls to config
  eggs/src/commands/publish.ts
  eggs/src/config.ts
Owners: @zorbyte,, @justablob,, @tbaumer22

fix: added space
  eggs/src/commands/publish.ts
Owners: @zorbyte,, @justablob,, @tbaumer22

feat: import config to publish
  eggs/src/commands/publish.ts
Owners: @zorbyte,, @justablob,, @tbaumer22

fix: file url
  eggs/src/commands/publish.ts
Owners: @zorbyte,, @justablob,, @tbaumer22

subrepo
  api-next/.github/CODE_OF_CONDUCT.md
  api-next/.github/CONTRIBUTING.md
  api-next/.github/FUNDING.yml
  api-next/.github/ISSUE_TEMPLATE/bug_report.md
  api-next/.github/ISSUE_TEMPLATE/feature_request.md
  api-next/.github/workflows/build.yml
  api-next/.github/workflows/linter.yml
  api-next/.gitignore
  api-next/Cargo.lock
  api-next/Cargo.toml
  api-next/LICENSE
  api-next/README.md
  api-next/assets/cover.jpg
  api-next/src/db.rs
  api-next/src/main.rs
  api-next/src/schema.rs
Owners: @tbaumer22, @zorbyte

[ImgBot] Optimize images
  public/badge-block.svg
  public/badge-large.svg
  public/badge.svg
  public/images/deno/deno-dark.svg
  public/images/deno/deno-light.svg
  public/images/nest.land/favicon_dark.svg
  public/images/nest.land/favicon_light.svg
  public/images/nest.land/logo_dark.svg
  public/images/nest.land/logo_light.svg
  public/images/rust/rust-dark.svg
  public/images/rust/rust-light.svg
  public/images/vercel/powered_by_vercel.jpg
  public/nest-diagram.svg
  public/pst-diagram-dark.svg
  public/pst-diagram.svg
  public/trade-diagram.svg
  src/assets/bedford.jpeg
  src/assets/nest_dark.png
  src/assets/nest_question.png
  src/assets/noehr.jpg
  src/assets/powered_by_vercel.jpg
  src/assets/quotes.png
Owners: none

.github/CODEOWNERS:

# Everything and configs.
x/                                                      @zorbyte, @justablob
eggs/                                                   @zorbyte, @justablob, @tbaumer22
eggs/src/commands/update.ts                             @ebebbington
web/                                                    @tbaumer22
etc/                                                    @zorbyte
.prettierrc                                             @zorbyte
README.md                                               @zorbyte @tbaumer22
.github/                                                @tbaumer22 @zorbyte
